{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block stylesheets %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center text-muted mt-4">ERP</h1>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title">Gestion des achats</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title">Gestion des ressources humaines</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title">Gestion financière</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <div class="col col-md-3">			
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    Files</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <ul class="list-group">
                        <li class="list-group-item"><span class="badge">253</span> New</li>
                        <li class="list-group-item"><span class="badge">17</span> Deleted</li>
                        <li class="list-group-item"><span class="badge">3</span> Reported</li>
                    </ul>
                </div>
                </div>
                <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    Blog</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <ul class="list-group">
                        <li class="list-group-item"><span class="badge">12</span> New</li>
                        <li class="list-group-item"><span class="badge">5</span> Deleted</li>
                    </ul>
                </div>
                </div>
                <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                    Settings</a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <ul class="list-group">
                        <li class="list-group-item"><span class="badge">1</span> Users Reported</li>
                        <li class="list-group-item"><span class="badge">5</span> User Waiting Activation</li>
                    </ul>
                </div>
                </div>
            </div> 
        </div>
        <div class="col col-md-9">
            <div class="row">
                <div class="col col-md-5">
                    <h4>Today Stats:</h4>
                            Visits<span class="pull-right strong">- 15%</span>
                                <div class="progress">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="15"aria-valuemin="0" aria-valuemax="100" style="width:15%">15%</div>
                            </div>
                        
                            20 New Users<span class="pull-right strong">+ 30%</span>
                                <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="30"aria-valuemin="0" aria-valuemax="100" style="width:30%">30%</div>
                            </div>
                        
                            359 Downloads<span class="pull-right strong">+ 8%</span>
                                <div class="progress">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="8"aria-valuemin="0" aria-valuemax="100" style="width:8%">8%</div>
                            </div>
                </div>
                <div class="col col-md-5">
                    <h4>This Month Stats:</h4>
                            Visits<span class="pull-right strong">+ 45%</span>
                                <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="45"aria-valuemin="0" aria-valuemax="100" style="width:45%">45%</div>
                            </div>
                        
                            395 New Users<span class="pull-right strong">+ 57%</span>
                                <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="57"aria-valuemin="0" aria-valuemax="100" style="width:57%">57%</div>
                            </div>
                        
                            12.593 Downloads<span class="pull-right strong">+ 25%</span>
                                <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="25"aria-valuemin="0" aria-valuemax="100" style="width:25%">25%</div>
                            </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
